body {
    background-color:burlywood;
    background-image:
    radial-gradient(circle,#ffffff33 1px,transparent 1px),
    radial-gradient(circle,#ffffff22 2px,transparent 2px),
    radial-gradient(circle,#ffd70022 1px,transparent 1px);
    background-size:
    180px 180px,
    260px 260px,
    320px 320px;
    background-position:
    0 0,
    50px 100px,
    120px 40px;
    font-size: 35px;
    font-family: 'Bitcount Single', sans-serif;
}
#MOMENTOS {
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#imagen1, #imagen2, #imagen3, #imagen4, #imagen5 {
    border-radius: 10%;
    display: block;
    margin: auto;
}
.MENU {
    background-color: #d8c3a5;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.MENU UL {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.MENU LI {
    display: inline-block;
    margin: 0 15px;
}
.MENU A {
    text-decoration: none;
    color: #4a3f35;
    font-size: 22px;
    font-weight: bold;
    transition: 0.3s;
}
.MENU A:HOVER {
    color: white;
    background-color: #8d6e63;
    padding: 8px 12px;
    border-radius: 10px;
}
#INTRO, #BAUTIZO, #GRADUACION, #CONVIVIO, #SORPRESA, #CUMPLE, #GRADUADA, #PIPO, #LLEGADA, #BIOGRAFIA, #PODCAST {
    width: 85%;
    margin: auto;
    text-align: justify;
    line-height: 1.8;
    padding: 30px;
}
#LOGO {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #ffd700;
    padding: 4px;
    background-color: #fff8dc;
    box-shadow:
        0 0 10px #ffd700,
        0 0 20px #ffd700,
        0 0 30px rgba(255,215,0,0.5);
    transition: 0.4s;
    margin-left: 15px;
    margin-right: 30px;
}
#LOGO:hover {
    transform: scale(1.1);
    box-shadow:
        0 0 15px #ffd700,
        0 0 30px #ffd700,
        0 0 45px rgba(255,215,0,0.7);
}
.CONTENEDOR-TARJETAS {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
    margin-top:40px;
}
.TARJETA {
    width:300px;
    background-color:#f5e6ca;
    border-radius:20px;
    padding:20px;
    box-shadow:5px 5px 15px rgba(0,0,0,.2);
    text-align:center;
    transition:.4s;
}
.TARJETA:hover {
    transform:translateY(-10px);
    box-shadow:8px 8px 20px rgba(0,0,0,.3);
}
.TARJETA H2 {
    color:#6b4f2b;
    font-size:30px;
}
.TARJETA P {
    text-align:justify;
    line-height:1.7;
}
#FRASES {
    text-align: center;
    font-size: 55px;
    color: #5d4037;
    margin-bottom: 40px;
    text-shadow: 2px 2px 5px rgba(255,255,255,.5);
}
.FRASE {
    width: 75%;
    margin: 25px auto;
    padding: 18px 25px;
    background: #f7ecd8;
    border-left: 8px solid #d4af37;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0,0,0,.15);
    transition: .3s;
}
.FRASE:hover {
    transform: translateX(10px);
    box-shadow: 0px 8px 20px rgba(0,0,0,.25);
}
.FRASE P {
    margin: 0;
    font-size: 28px;
    color: #4e342e;
    text-align: justify;
    line-height: 1.6;
}
.FRASE::before {
    content: "⭐";
    font-size: 22px;
    margin-right: 12px;
}
#METAS{
    text-align:center;
    font-size:55px;
    color:#5d4037;
    margin-bottom:40px;
}
.METAS {
    width:75%;
    margin:auto;
}
.META {
    background:#f7ecd8;
    padding:18px;
    margin:20px 0;
    border-radius:15px;
    border-left:8px solid #d4af37;
    box-shadow:0px 5px 12px rgba(0,0,0,.15);
    transition:.3s;
}
.META:hover {
    transform:translateX(10px);
    box-shadow:0px 8px 18px rgba(0,0,0,.25);
}
.META LABEL {
    font-size:28px;
    margin-left:15px;
}
.META INPUT {
    width:22px;
    height:22px;
}
#CARTA {
    font-size:60px;
    color:#5d4037;
    text-align:center;
    margin-bottom:40px;
}
.CARTA-CONTENEDOR {
    width:75%;
    margin:50px auto;
    padding:60px;
    background:#fffaf0;
    border-radius:18px;
    box-shadow:0px 10px 30px rgba(0,0,0,.20);
    border:2px solid #d8c3a5;
}
.TEXTO-CARTA {
    text-align:justify;
    line-height:2;
    font-size:28px;
    text-indent:50px;
}
.CARTA-CONTENEDOR:hover {
    box-shadow:0px 15px 40px rgba(0,0,0,.30);
}
.CARTA-CONTENEDOR::before {
    content:"";
    display:block;
    height:3px;
    background:linear-gradient(to right, transparent, gold, transparent);
    margin-bottom:35px;
}
.CARTA-CONTENEDOR::after {
    content:"";
    display:block;
    height:3px;
    background:linear-gradient(to right, transparent, gold, transparent);
    margin-top:35px;
}
.MENSAJE {
    width:80%;
    margin:50px auto;
    padding:35px;
    background:#F8ECD5;
    border:3px solid #D4AF37;
    border-radius:20px;
    box-shadow:0px 8px 20px rgba(0,0,0,.20);
}
.MENSAJE H2 {
    text-align:center;
    font-size:45px;
    color:#6B4F2B;
    margin-bottom:35px;
    text-shadow:1px 1px 3px rgba(255,255,255,.5);
}
.CAJA {
    background:#FFFDF8;
    padding:25px;
    margin:25px 0;
    border-left:8px solid #D4AF37;
    border-radius:15px;
    box-shadow:0px 4px 10px rgba(0,0,0,.15);
    transition:.35s;
}
.CAJA:HOVER {
    transform:translateX(12px);
    box-shadow:0px 8px 20px rgba(0,0,0,.25);
}
.CAJA H3 {
    margin-top:0;
    color:#7A5C2E;
    font-size:32px;
}
.CAJA P {
    font-size:28px;
    color:#4A3F35;
    line-height:1.8;
    margin-bottom:0;
}
.SEPARADOR {
    display:flex;
    align-items:center;
    justify-content:center;
    margin:80px auto;
    width:85%;
}
.LINEA {
    flex:1;
    height:2px;
    background:linear-gradient(to right,
    transparent,
    #d4af37,
    transparent);
    margin:0 20px;
}
.SEPARADOR SPAN {
    font-size:32px;
    color:#d4af37;
    text-shadow:
    0 0 8px rgba(255,215,0,.7);
}
